/*General*/
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#top {
    display:grid;
    grid-template-columns: 1fr 5fr;
}

.top {
    padding: 0.5em;
}

.top:first-child{
    background-color: blue;
    color:white;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.top:nth-child(2) {
    background-color: cornflowerblue;
    color:white;
}

.fa {
    display: inline-block;
    margin-top: 0.8em;
}

.top:nth-child(3) {
    background-color:rgb(0,0,0);
    color:white;
    font-size: 1.2rem;
}

.top:nth-child(4) {
    background-color:honeydew;
    color: navy;
    font-size: 1.6em;
    display: flex;
}

.top-right {
    color:midnightblue;
    font-size: 0.8rem;
    font-weight: 700;
    margin-left: 52%;
    padding-top: 0.5em;
}


.top:nth-child(5) {
    height:80vh;
    background-color:rgba(0, 0, 0, 0.9);
    color:rgba(255, 255, 255, 0.8)
}

#boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:0 1.5em;
    margin-left: 0.5em;
}


#preview-pane {
   background-color: whitesmoke;
   box-shadow: 0 0.1rem 0.1rem 0.5rem rgb(222, 220, 220);
    height: 60vh;
    position: absolute;
    top:30%;
    left:65%;
    width: 30%;
}

ul, li {
    list-style: none;
    padding-bottom: 1em;
    padding-inline-start: 0;
    font-size: 1.2rem;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color:orange
}

.boxes {
    margin-right: 0.5em;
    height:30vh;
    color:white;
    padding-left: 0.5rem;
    position: relative;
}

.boxes:first-child{
    background-color: darkcyan;
}

.boxes:nth-child(2){
    background-color:purple;
}

.boxes:nth-child(3){
    background-color:yellow;
}

.boxes:nth-child(4){
    background-color:green;
    
}

.boxes:nth-child(5){
    background-color:orange;
}

.boxes:nth-child(6){
    background-color:red;
}

.boxes p:first-child {
    font-size: 3rem;
    font-weight: 700;
    margin-block-end: 0;
}

.boxes p:nth-child(2) {
    font-size: 1.5rem;
}



.inner {
    display: inline-block;
     position:absolute; 
    left: 13rem;
    bottom: 0.25em;
    font-size:10rem;
    color:rgba(0, 0, 0, 0.2); 
    
}

/*Add Item*/
h2 {
    background-color: gold;
    margin-block-end: 0;
}

.form {
    background-color: cornflowerblue;
    width: 100%;
    margin-top: 2rem;
    margin-left: 80%;
    text-align: center;
    border-radius: 0.5rem 0.5rem 0 0;
}

input, select, textarea {
    width:80%;
    margin-bottom:1rem;
    padding: 0.5rem;
    border: 2px solid gold;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    border: 3px solid orange;
}

select {
    width:85%;
}

input[type=file] {
    border:0;
}

button.btns {
    width:60%;
    border:0;
    padding: 0.8rem;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: #cdcdcd;
    margin: auto;
    border-radius: 0.2rem;
}

button.btns:hover {
    background-color:gold;
    color: navy;
    font-size: 1.2rem;
}

/*View*/
input[class=search] {
    width:35%;
    margin: auto;
    margin-left: 25%;
    margin-right: 0.5rem;
    border: 1px solid #cdcdcd; 
    border-radius: 1em;
    margin-top: 2rem;
    padding-left: 00.5rem;
}

img {
    width:50%;
}

table {
    width: 100%;
    margin-top: 2em;
}

td, th {
    width:20vw;
    text-align: center;
    border-right: 2px solid #cdcdcd;
    border-bottom: 2px solid #cdcdcd;
}

th {
    border-top:5px solid #cdcdcd;
}

td:nth-child(even) {
    font-size: 1.2rem;
    font-weight: 600;
}

td:nth-child(3){
    font-size: 0.9rem;
}

td:nth-child(5){
    font-size: 1.5rem;
    font-weight: 700;
    color:green;
}

td:nth-child(7){
    font-size:3rem;
    font-weight: 600;
    color:red;
    padding-bottom: 2.5rem;
    border-bottom:none; 
    /* visibility:hidden;  */
}

.fa.fa-trash-o:hover .fa.fa-edit:hover {
    cursor: pointer;
}

.edit-msg {
    font-size: 0.8rem;
    color:midnightblue;
}

.top-of-table {
    display:flex;
}

button[id = update-ls] {
    color:midnightblue;
    background-color:#cdcdcd;
     padding: 0.8rem; 
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-left: 1rem;
    border: 0;
    border-radius: 0.5rem;
    visibility: hidden;
}

button[id = update-ls]:hover{
    background-color: orange;

}

.srch {
    width:80%;
    margin:auto;
}

#nothing {
    width: 40%;
    margin:auto;
    padding: 2em;
    box-sizing: border-box;
    box-shadow: #cdcdcd;
    font-size: 1.2em;
    display: none;
}

/* The Modal (background) */
.confirm {
    display: none;  /*Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .confirm-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 35%; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close2 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close2:hover,
  .close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .confirm-header {
    padding: 2px 16px;
    background-color: crimson;
    color: white;
    font-size: 1.5rem;
  }
  
  .confirm-body {
      padding: 0.2em 1em;
    }

    .confirm-body2 {
        padding: 2px 16px;
        display: flex;
        margin-left:10%;
        margin-bottom: 1.5em;
      }
    button#yes, button#no {
        margin-left: 2%;
        width:5em;
        height:3em;
        border: 0;
        color:white;
        font-size: 1.1em;
        font-weight: 600;
    }

    button#yes {
        background-color: green;   
    }

    button#no {
        background-color: red; 
    }

@media (max-width:1250px) {
    .inner {
        left:10rem;
        font-size: 7rem;
    }
    #preview-pane {
        display: none;
    }
}
@media (max-width:1000px) {
    .inner {
        left:7rem;
        font-size: 5rem;
        bottom:5rem
    }
}
@media (max-width:800px) {
.form {
   width:20em;
    margin-left: 0;
}
}

@media (max-width:700px) {
    .inner {
        left:5rem;
        font-size: 3rem;
        bottom:9rem
    }
}

@media (max-width:565px) {
    .inner {
        left:2rem;
        font-size: 3rem;
        bottom:2rem
    }

    .boxes p:first-child {
        font-size: 2rem;
    }
    .boxes p:nth-child(2) {
        font-size: 1rem;
    }

    .top:first-child{
        font-size: 1rem;
    }
    .top:nth-child(4) {
         font-size: 1.1rem;
    }
    .top:nth-child(3) {
        font-size: 0.9rem;
    }
    ul, li  {
        font-size: 0.8rem;
    }
}
